.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../imagens/champions-league.jpg);
    background-size: cover;

    @media (max-width: 768px) {
            background-image: url(../imagens/champions-league-celular.jpg);
            padding-top: 32px;
            margin-bottom: 8px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }


.button-main button:first-child {
    background-color: #5f27cd;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 8px;
    letter-spacing: 1px;
    border: 1px transparent;
    cursor: pointer;

    @media (max-width: 768px) {
        height: 50px;
        width: 120px;
        letter-spacing: 2;
        align-items: center;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
    }

    &:hover {
        background-color: lighten(#5f27cd, 15%);
        transform: scale(1.1);
        transition: .5s ease;
    }
}

.button-main button:last-child {
    background-color: #011144;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 8px;
    letter-spacing: 1px;
    border: 1px transparent;
    cursor: pointer;
    margin-top: 4px;

    @media (max-width: 768px) {
        height: 50px;
        width: 120px;
        letter-spacing: 2;
        align-items: center;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
    }

    &:hover {
        background-color: lighten(#011144, 15%);
        transform: scale(1.1);
        transition: .5s ease;
    }
}